html {
    background-color: white;
}
.guestGreet .desc {
    margin-bottom: 20px;
}
.guestGreet .desc #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.guestGreet .desc p {
    text-align: center;
    font-family: Arial;
    font-size: 25px;
    color: #555057
}

